<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UICTFontTextStyleTitle0</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<integer>34</integer>
		<key>textColor</key>
		<string>#333333</string>
	</dict>
	<key>UICTFontTextStyleTitle1</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<integer>28</integer>
		<key>textColor</key>
		<string>#333333</string>
	</dict>
	<key>UICTFontTextStyleTitle2</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<integer>22</integer>
		<key>textColor</key>
		<string>#333333</string>
	</dict>
	<key>UICTFontTextStyleTitle3</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>textColor</key>
		<string>#333333</string>
	</dict>
	<key>UICTFontTextStyleHeadline</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica-Bold</string>
		<key>fontSize</key>
		<integer>19</integer>
		<key>textColor</key>
		<string>#333333</string>
	</dict>
	<key>UICTFontTextStyleSubhead</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica-Semibold</string>
		<key>fontSize</key>
		<integer>17</integer>
		<key>textColor</key>
		<string>#333333</string>
	</dict>
	<key>UICTFontTextStyleBody</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<integer>17</integer>
		<key>textColor</key>
		<string>#333333</string>
	</dict>
	<key>UICTFontTextStyleCallout</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>#666666</string>
	</dict>
	<key>UICTFontTextStyleFootnote</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<integer>13</integer>
		<key>textColor</key>
		<string>#333333</string>
	</dict>
	<key>UICTFontTextStyleCaption1</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica-Bold</string>
		<key>fontSize</key>
		<integer>13</integer>
		<key>textColor</key>
		<string>#666666</string>
	</dict>
	<key>UICTFontTextStyleCaption2</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<integer>13</integer>
		<key>textColor</key>
		<string>#666666</string>
	</dict>
</dict>
</plist>
